*{
    margin: 0px;
    padding: 0px;
}
#logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#main{
    width: 20%;
    height: auto;
    padding: 30px 60px 30px 50px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    margin-top: 20px;
    
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"]
{
 width: 100%;
 margin-bottom:20px;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid gray;
 font-size: 15px;
}
::placeholder{
    color: gray;
}
label{
    font-size: 20px;
    display: flex;
    margin-bottom: 10px;
}
input[type="submit"]{
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
    border: 1px solid gray;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    box-sizing: content-box;
    margin-top: 20px;
    
}
input[type="submit"]:hover{
    cursor: pointer;
}
form+p{
    font-size: 18px;
    color: gray;
    text-align: center;
}
form+p>a{
    margin-left: 10px;
}






@media all and (max-width:720px){
    body{
        padding: 0px 100px 20px 100px;
    }
    #main{
        width: auto;
        height: auto;
        padding: 30px 60px 30px 50px;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        margin-top: 20px;
        
    }
}